:root {
  --background-body: #ffffff;
  --text-main: #000000;
  --text-secondary: #8f9294;
  --primary-color: #00f2ad;
  --action-color: #f2554b;
  --font-family-display: 'Triakis', serif;
  --font-family-content: 'CascadiaMono', sans-serif;
}

:root[data-theme='dark'] {
  --background-body: #000000;
  --text-main: #ffffff;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  padding: 2rem 1.5rem;
  font-family: var(--font-family-content);
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.6;
  background-color: var(--background-body);
  color: var(--text-main);
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  /* background-image: url(../../public/assets/backgrounds/scales-corner-white.png);
  background-repeat: no-repeat;
  background-position: top 50% right 00%;
  background-size: auto; */
}

h1 {
  font-family: var(--font-family-display);
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1;
  margin: 0;
}
@media (max-width: 1020px) {
  h1 {font-size: 2.5rem;}
}
h2 {
  font-family: var(--font-family-display);
  font-size: 1.875rem;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1;
  margin: 0;
}
h3 {
  font-family: var(--font-family-display);
  font-size: 1.875rem;
  font-weight: 400;
  line-height: 1;
  margin: 0;
}
h4 {
  font-family: var(--font-family-content);
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
}

p {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.33;
}

a {
  color: var(--primary-color);
}

nav a {
  color: var(--text-main);
}

table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
code {
  padding: 2px 5px;
  background-color: #f2f2f2;
}
pre {
  padding: 1rem;
}
pre > code {
  all: unset;
}
blockquote {
  border-left: 2px solid var(--primary-color);
  display: inline-block;
  font-size: 2.625rem;
  padding: 0 2rem;
  margin: 2rem;
  font-family: var(--font-family-display);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
